$color-accent: rgb(31, 108, 180);
// Syntax Highlighting Settings
$token-color-default: white;
$token-color-punctuation: #21BFC2;
$token-color-keyword: #56C2EA;
$token-color-entity: #14D386;
$token-color-property: #30AAD7;
$token-color-string: #f9ca99;
$token-color-constant: #F09483;
$token-color-comment: #959595;

html, body {
	height: 100%;
}
#app {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
#app > main {
	flex: 1 0 auto;
	padding: 0;
	margin: 0;
}

.title, .title+p {
	text-align: center;
}
.title {
	font-size: 6em;
}

a:any-link {
	text-decoration: none;
}
a:hover, a:focus, a.selected {
	color: $color-accent;
}

nav {
	max-width: fit-content;
	padding-right: 30px;
	font-size: 1.25em;
	text-align: center;
}
nav li {
	list-style: none;
	padding: 0.25em;
}
nav ul {
	padding: 0.25em 0.25em 0.25em 1em;
}
nav img.logo {
	height: 64px;
	width: auto;
}

hr {
	text-align: center;
	padding: 0;
	margin: 5px;
	border: solid 1px black;
}

%row-center {
	display: flex;
  align-items: center;
	justify-content: center;
}

.alert {
	margin: 20px;
	padding: 40px;
}
.alert-title {
	@extend %row-center;
}
.icon {
	max-width: fit-content;
	max-height: fit-content;
	padding: 0;
	margin: 0;
	margin-right: 0.5ch;
}
.icon-small {
	@extend .icon;
	max-width: auto;
	max-height: 32px;
}
.error-page {
	display: flex;
	align-items: center;
	justify-content: center;
}
.error-page .alert {
	background-color: lighten(rgb(226, 164, 30), 20);
	border: solid 2px rgb(194, 51, 51);
}

.token {
	background: inherit;
	color: inherit;
	font-style: normal;
}

.token.plain-text {
	color: $token-color-default;
}

.token.punctuation {
	color: $token-color-punctuation;
}

.token.operator {
	color: $token-color-keyword;
}

.token.comment {
	color: $token-color-comment;
	font-style: italic;
}

.token.tag {
	color: $token-color-entity;
}

.token.attr-name {
	color: $token-color-property;
}

.token.string,
.token.attr-value,
.token.attr-value > .token.punctuation:not(:first-child) {
	color: $token-color-string;
}

.token.number, .token.constant {
	color: $token-color-constant;
}

.jsx-parser {
	border: solid 1px black;
	margin: 5px;
	padding: 1em;
}

.api-link {
	padding-top: 20px;
	width: fit-content;
}
.api-link button {
	@extend %row-center;
}

.article {
	margin-top: 40px;
	padding: 20px 5vw;
}
.home-page.article {
	margin-top: 0px;
}
.home-page.article section:first-of-type {
	flex-wrap: wrap;
}

.code-preview {
	margin: 20px 0;
}
.code-preview > * {
	flex: 1 0 auto;
	width: 50%;
}

footer {
	flex: 0 0 auto;
	padding: 12px;
	margin: 5px 0 0 0;
	text-align: right;
	display: flex;
	align-items: center;
	justify-items: space-evenly;
	box-shadow: 0px -1px 3px rgba(32, 32, 32, 0.4);
	height: fit-content;
}
footer p {
	padding: 0;
	margin: 0;
}

footer > * {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
  align-items: center;
	padding: 0 10px;
	margin: 0;
}
footer > *:first-of-type {
	justify-content: flex-start;
}
footer > *:last-of-type {
	justify-content: flex-end;
}
