// Syntax Highlighting Settings
$token-color-default: white;
$token-color-punctuation: #21bfc2;
$token-color-keyword: #56c2ea;
$token-color-entity: #14d386;
$token-color-property: #30aad7;
$token-color-string: #f9ca99;
$token-color-constant: #f09483;
$token-color-comment: #959595;

$font-stack-standard: "Roboto", sans-serif;

@import "../../lib/themes/light.scss";

html,
body {
	height: 100%;
}
#app {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
#app > main {
	flex: 1 0 auto;
	padding: 0;
	margin: 0;
}

.title,
.title + p {
	text-align: center;
}
.title {
	font-size: 6em;
}

.main {
	@extend %container;
	align-items: stretch;
	height: 100vh;
}

.main-nav {
	@extend %container;
	align-self: stretch;
	margin: {
		right: $shadow-width * 2;
	}
	box-shadow: 0 $shadow-width / 2 $shadow-width * 2 rgba($color-shadow, 0.4);
	& .logo {
		$size: 48px;
		width: $size;
		height: $size;
		margin: $spacing-unit * 2;
	}
	& > .acr-menu {
		box-shadow: none;
		border-radius: 0;
	}
}

%row-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.alert {
	margin: 20px;
	padding: 40px;
}
.alert-title {
	@extend %row-center;
}
.error-page {
	display: flex;
	align-items: center;
	justify-content: center;
}
.error-page .alert {
	background-color: lighten(rgb(226, 164, 30), 20);
	border: solid 2px rgb(194, 51, 51);
}

.token {
	background: inherit;
	color: $token-color-default;
	font-style: normal;
}

.token.plain-text {
	color: $token-color-default;
}

.token.punctuation {
	color: $token-color-punctuation;
}

.token.operator {
	color: $token-color-keyword;
}
.token.keyword {
	color: $token-color-keyword;
}

.token.comment {
	color: $token-color-comment;
	font-style: italic;
}

.token.tag {
	color: $token-color-entity;
}

.token.attr-name {
	color: $token-color-property;
}

.token.string,
.token.attr-value,
.token.attr-value > .token.punctuation:not(:first-child) {
	color: $token-color-string;
}

.token.number,
.token.constant {
	color: $token-color-constant;
}
.token.boolean {
	color: $token-color-constant;
	font-style: italic;
}

.api-link {
	padding-top: 20px;
	width: fit-content;
}
.api-link button {
	@extend %row-center;
}

.article {
	padding: 4vw;
	margin: 0;
	& > * {
		margin: 30px 0;
		&:first-child {
			margin-top: 0;
		}
	}
}
.home-page {
	& > *:nth-child(2) {
		display: block;
	}
}

.code-preview {
	@extend .acr-section;
	@include elevated(3);
	overflow: visible;
	padding: 0;
	& > * {
		margin: 0;
	}
	& .live-render {
		padding: $spacing-unit;
		display: block;
		background: $color-background;
		border-radius: $border-radius $border-radius 0 0;
	}
	& > pre {
		background: $color-foreground;
		color: white;
		border-radius: 0 0 $border-radius $border-radius;
	}
}

img.small {
	max-width: 30%;
	margin: $spacing-unit;
	padding: 0;
	border: {
		color: $color-foreground;
		width: $border-width;
		style: solid;
	}
	background: {
		color: darken($color-background, 20);
	}
}

.hidden {
	display: none;
}

.square {
	max-width: 100px;
	min-height: 100px;
}
.medium {
	max-width: 300px;
}
.small {
	max-width: 150px;
}
.padded-xl {
	padding: 30px;
}
